exportPattern("^[[:alpha:]]+")
import(modeltools)
import(flexclust)
import(compiler)
import(truncnorm)
import(mvtnorm)
import(doParallel)
import(dplyr)
import(tidyr)
importFrom(data.table,fread)
importFrom(data.table,data.table)
import(progress)