exportPattern("^[[:alpha:]]+")
import(modeltools)
import(flexclust)
import(compiler)
import(truncnorm)
import(mvtnorm)
import(doParallel)
import(dplyr)
import(tidyr)
import(data.table)
import(progress)